<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebsiteURL" value="https://www.metoffice.gov.uk/"/>
    <add key="BrowserType" value="Chrome"/>
    <add key="Location" value="Slough"/>

    <!-- Explicit Wait For Elements-->
    <add key="ExplicitWaitInSeconds" value="5"/>

  </appSettings>
</configuration>